/* App Root Styles */

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
  background-color: #282c34;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

@media (min-width: 1024px) {
  .App {
    padding-bottom: 0;
  }
}
